* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  background-color: #111827;
  color: #f9fafb;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, .1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, .1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0, .1);
}

button {
  cursor: pointer;
  background-color: #4338ca;
  color: #f9fafb;
}

.error {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 0, 43);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
}

.error-animation {
  animation: error .2s ease forwards;
}

@keyframes error {
  to {
    transform: translate(-50%, 0%);
  }
}