main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: #202839;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
}

.container-header {
  margin-bottom: 16px;
}

textarea {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, .1);
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  font-family: sans-serif;
  resize: none;
  color: white
}

textarea:focus {
  outline: 1px solid rgb(255, 255, 255, .2);
}

.submit-btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.content {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}